In [ ]:
nilaiujian = [80,75.70,20,30,90,70,21,88,85.75]
print(nilaiujian)
namapahlawan = ['ir soekarno', 'Moehammad Hatta', 'Raden Ajeng Kartini', 'Sulltan Hamengkubuwono IX']
print(namapahlawan)
nilaicampuran = ['ES JERUK', 2,3, True]
print(nilaicampuran)
listdalamlist = [21,[23,20], 45]
print(listdalamlist)

In [ ]:
#definisikan list yang berisi nilai angka
data = [10,20,30,40]
#ubah nilai ke 0 menjadi 50
data[0] = 50
#print output
print(data)

In [ ]:
var1 = (1,2,3,4,5,6)
var2 = (7,8,9,10,12)
Varjumlah = var1 + var2
print(Varjumlah)

In [ ]:
var1 = [1,2,3,4,5,6]
var2 = [1,2,3,4,5,6]*2
print(var2)

In [ ]:
nama = ['matahari', 'Bulan', 'mentari', 'pak dida']
nama1 = nama[0]
print(nama1)
nama2 = nama[3]
print(nama2)

#dari belakang
nama3 = nama[-1]
print(nama3)
nama4 = nama[-3]
print(nama4)

In [ ]:
nama =['felix', 'adine', 'joeken', 'ryan']
nama.append(['roy', 'ben'])
print(nama)

In [ ]:
nama =['felix', 'adine', 'joeken', 'ryan']
nama.extend(['roy', 'ben'])
print(nama)

In [ ]:
nama =['zooo','felix', 'adine', 'joeken', 'ryan','xoe','zoooooo']
nama.sort()
print(nama)

In [ ]:
data = ['joe', 'felix', 'adine', 'dharma', 'caren']
data.pop(2)
print(data)

In [ ]:
datax = ['joe', 'felix', 'adine', 'dharma', 'caren']
del datax[2]
print(datax)
del datax[0:1]
print(datax)

In [ ]:
datat = ['joe', 'felix', 'adine', 'dharma', 'caren']
datat.remove("dharma")
print(datat)

In [ ]:
angka =[1,2,3,4,5]
angkalen = len(angka)
print(angkalen)
angkamax = max(angka)
print(angkamax)
angkamin = min(angka)
print(angkamin)
angkasum = sum(angka)
print(angkasum)

In [ ]:
names = "matahaari"
namalist = list(names)
print(namalist)

In [ ]:
kalimat = "saya suka matahari terbit"
split = kalimat.split()
print(split)

In [ ]:
kalimat = "saya-suka-matahari-terbit"
split = kalimat.split('-')
print(split)
delimiter = ' '
a = delimiter.join(split)
print(a)

In [ ]:
a = [1,2]
b = a.append(3)
c = a +[3]
print(a)
print(b)
print(c)

In [ ]:
def hapus(lists):
    return lists[1:]
huruf =['a','b','c','d']
hasil = hapus(huruf)
print(hasil)